all:
  hosts:
    localhost:
  children:
    master:
      hosts:
        {{ master.server.public_v4 }}:
            ansible_user: centos
    workers:
      hosts:
        {{ worker.server.public_v4 }}:
          ansible_user: centos
    cluster:
      children:
        master:
        workers:
